<%- include('../partials/header', { title, activePage, challengeId }) %>

    <!-- Meydan Okuma Detay -->
    <section style="padding: 3rem 0;">
        <div class="container">
            <div id="challengeDetail"></div>
        </div>
    </section>

<%- include('../partials/footer', { customScripts: ['/js/challenge-detail.js'] }) %>
